body {
    margin: 0px
}

.body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    color: black;
    text-align: center;

}

.nav {
    background-color: rgb(19, 207, 207);
    padding: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

a {
    color: white;
    margin: 5px;
    padding: 5px;
}

.body-1 {
    background-color: rgb(255, 255, 255);
    color: black;
    width: 80%;
}

.body-2 {
    width: 20%;
    border: 1px solid black;
    padding: 8px;
}

.body-2 img {
    width: 200px;
    height: 200px;

}

.flex_styling {
    display: flex;
    margin: 20px;
    gap: 40px
}

.footer {
    background-color: rgb(202, 191, 202);
    color: black;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0px;
    padding: 10px;
}